In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('./opennem/yearly/2020-2021-opennem-nsw.csv')
df

,date,Pumps - GWh,Exports - GWh,Imports - GWh,Coal (Black) - GWh,Distillate - GWh,Gas (CCGT) - GWh,Gas (OCGT) - GWh,Hydro - GWh,Wind - GWh,...,Exports Market Value - AUD,Imports Market Value - AUD,Coal (Black) Market Value - AUD,Distillate Market Value - AUD,Gas (CCGT) Market Value - AUD,Gas (OCGT) Market Value - AUD,Hydro Market Value - AUD,Wind Market Value - AUD,Solar (Utility) Market Value - AUD,Solar (Rooftop) Market Value - AUD
0,2020-10-01,-8.62,-1.06,374.76,2652.18,0.04,56.43,19.16,92.25,229.23,...,47496.00,23561761.0,157881584.0,2615.27,4382791.10,2278802.00,10865955.0,12417470.0,8222151.0,14349134.0
1,2020-11-01,-21.24,-12.17,383.84,4011.90,-0.02,67.58,14.39,253.55,333.00,...,1830765.50,30353238.0,261618874.0,-927.78,6913317.40,2631177.00,29283654.0,20358432.0,19272672.0,34334439.0
2,2020-12-01,-38.05,-8.41,503.17,3841.31,0.20,37.22,31.18,301.27,430.64,...,878067.50,44059736.0,538002037.0,793852.49,19715726.94,24334521.00,127001038.0,28148395.0,47899310.0,36139936.0
3,2021-01-01,-8.73,-2.26,519.14,4134.10,-0.02,63.60,2.21,253.33,406.35,...,85947.77,23044370.0,186362136.0,-671.49,4430081.90,94493.57,16038131.0,17096461.0,12657516.0,17875874.0
4,2021-02-01,-7.15,-7.48,410.71,3770.30,-0.02,0.10,2.68,210.23,380.50,...,314258.00,14703139.0,136963859.0,-799.90,3522.25,87834.90,7917813.0,13513395.0,9846734.0,13261776.0
5,2021-03-01,-19.52,-1.83,521.12,4001.80,-0.02,12.38,21.43,202.21,469.72,...,77408.58,21999582.0,159395008.0,-963.15,509648.77,1352247.50,8773949.0,18783728.0,9126796.0,11926691.0
6,2021-04-01,-29.27,-3.63,483.23,3909.10,-0.03,30.56,17.93,170.27,339.97,...,153280.51,35352813.0,232119468.0,-1491.39,3337505.61,2507413.00,15910731.0,16455957.0,9799470.0,12256039.0
7,2021-05-01,-22.78,-20.04,408.19,4510.80,0.01,25.99,37.36,323.51,363.85,...,1447416.50,83096750.0,568446224.0,294.06,6150226.63,12730765.00,93775154.0,32836331.0,12135093.0,13036848.0
8,2021-06-01,-55.31,-15.42,397.97,4909.50,0.38,144.45,72.03,327.66,452.01,...,1110845.06,125319852.0,813600306.0,269023.63,31868984.00,38890680.00,113934861.0,56586180.0,11473969.0,18725556.0
9,2021-07-01,-101.04,-5.57,552.69,4953.20,0.50,102.58,111.35,200.85,568.44,...,1426085.62,79547827.0,652192556.0,109901.10,21085514.30,31843557.00,61071083.0,54708512.0,14916938.0,24416738.0
10,2021-08-01,-19.33,-9.88,487.05,4447.10,-0.04,27.58,31.33,126.57,512.11,...,734956.10,33444669.0,293479611.0,-1520.35,2925088.53,3631293.00,12202580.0,28843662.0,9131040.0,11472573.0
11,2021-09-01,-30.15,-9.65,409.95,3711.30,-0.06,75.90,17.35,140.27,500.10,...,386895.56,23888450.0,200156035.0,-3066.71,5955425.91,1802834.00,9809507.0,22850056.0,8066264.0,9656719.0
12,2021-10-01,-21.33,-2.30,157.02,1256.50,-0.02,19.00,0.19,53.39,170.64,...,151572.65,7398863.0,74486347.0,-1050.12,1808651.91,15382.35,3858659.0,7850041.0,3182980.0,93764.0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                13 non-null     object
 1   Pumps -  GWh                        13 non-null     float64
 2   Exports -  GWh                      13 non-null     float64
 3   Imports -  GWh                      13 non-null     float64
 4   Coal (Black) -  GWh                 13 non-null     float64
 5   Distillate -  GWh                   13 non-null     float64
 6   Gas (CCGT) -  GWh                   13 non-null     float64
 7   Gas (OCGT) -  GWh                   13 non-null     float64
 8   Hydro -  GWh                        13 non-null     float64
 9   Wind -  GWh                         13 non-null     float64
 10  Solar (Utility) -  GWh              13 non-null     float64
 11  Solar (Rooftop) -  GWh              13 non-null     float64
 12  Temperature Mean - C                13 non-null     float64
 13  Temperature Min - C                 13 non-null     float64
 14  Temperature Max - C                 13 non-null     float64
 15  Exports Emissions Vol - tCO₂e       13 non-null     float64
 16  Imports Emissions Vol - tCO₂e       13 non-null     float64
 17  Coal (Black) Emissions Vol - tCO₂e  13 non-null     float64
 18  Distillate Emissions Vol - tCO₂e    13 non-null     float64
 19  Gas (CCGT) Emissions Vol - tCO₂e    13 non-null     float64
 20  Gas (OCGT) Emissions Vol - tCO₂e    13 non-null     float64
 21  Emissions Intensity - kgCO₂e/MWh    0 non-null      float64
 22  Price - AUD/MWh                     13 non-null     float64
 23  Pumps Market Value - AUD            13 non-null     float64
 24  Exports Market Value - AUD          13 non-null     float64
 25  Imports Market Value - AUD          13 non-null     float64
 26  Coal (Black) Market Value - AUD     13 non-null     float64
 27  Distillate Market Value - AUD       13 non-null     float64
 28  Gas (CCGT) Market Value - AUD       13 non-null     float64
 29  Gas (OCGT) Market Value - AUD       13 non-null     float64
 30  Hydro Market Value - AUD            13 non-null     float64
 31  Wind Market Value - AUD             13 non-null     float64
 32  Solar (Utility) Market Value - AUD  13 non-null     float64
 33  Solar (Rooftop) Market Value - AUD  13 non-null     float64
dtypes: float64(33), object(1)
memory usage: 3.6+ KB

In [51]:
df['Total Generation'] = df['Pumps -  GWh'] + df['Coal (Black) -  GWh'] + df['Distillate -  GWh'] + df['Gas (CCGT) -  GWh'] + df['Gas (OCGT) -  GWh'] + df['Hydro -  GWh'] + df['Wind -  GWh'] + df['Solar (Utility) -  GWh'] + df['Solar (Rooftop) -  GWh']

In [52]:
df['Total Generation']

0     3460.73
1     5405.21
2     5344.96
3     5635.08
4     5042.50
5     5342.74
6     5096.93
7     5759.90
8     6237.28
9     6297.36
10    5781.00
11    5227.30
12    1794.63
Name: Total Generation, dtype: float64

In [53]:
df = df.drop([12])

In [54]:
df['Total Generation']

0     3460.73
1     5405.21
2     5344.96
3     5635.08
4     5042.50
5     5342.74
6     5096.93
7     5759.90
8     6237.28
9     6297.36
10    5781.00
11    5227.30
Name: Total Generation, dtype: float64

In [55]:
df['PercentRenewables'] = (df['Hydro -  GWh'] + df['Wind -  GWh'] + df['Solar (Rooftop) -  GWh'] + df['Solar (Utility) -  GWh'])/df['Total Generation']

In [56]:
df['PercentRenewables']

0     0.214273
1     0.246540
2     0.275605
3     0.256238
4     0.253166
5     0.248313
6     0.229283
7     0.209816
8     0.186977
9     0.195442
10    0.223899
11    0.277956
Name: PercentRenewables, dtype: float64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                12 non-null     object
 1   Pumps -  GWh                        12 non-null     float64
 2   Coal (Black) -  GWh                 12 non-null     float64
 3   Distillate -  GWh                   12 non-null     float64
 4   Gas (CCGT) -  GWh                   12 non-null     float64
 5   Gas (OCGT) -  GWh                   12 non-null     float64
 6   Hydro -  GWh                        12 non-null     float64
 7   Wind -  GWh                         12 non-null     float64
 8   Solar (Utility) -  GWh              12 non-null     float64
 9   Solar (Rooftop) -  GWh              12 non-null     float64
 10  Temperature Mean - C                12 non-null     float64
 11  Temperature Min - C                 12 non-null     float64
 12  Temperature Max - C                 12 non-null     float64
 13  Coal (Black) Emissions Vol - tCO₂e  12 non-null     float64
 14  Distillate Emissions Vol - tCO₂e    12 non-null     float64
 15  Gas (CCGT) Emissions Vol - tCO₂e    12 non-null     float64
 16  Gas (OCGT) Emissions Vol - tCO₂e    12 non-null     float64
 17  Emissions Intensity - kgCO₂e/MWh    0 non-null      float64
 18  Price - AUD/MWh                     12 non-null     float64
 19  Pumps Market Value - AUD            12 non-null     float64
 20  Exports Market Value - AUD          12 non-null     float64
 21  Gas (OCGT) Market Value - AUD       12 non-null     float64
 22  Hydro Market Value - AUD            12 non-null     float64
 23  Wind Market Value - AUD             12 non-null     float64
 24  Solar (Utility) Market Value - AUD  12 non-null     float64
 25  Solar (Rooftop) Market Value - AUD  12 non-null     float64
 26  Total Generation                    12 non-null     float64
 27  PercentRenewables                   12 non-null     float64
dtypes: float64(27), object(1)
memory usage: 2.7+ KB

In [58]:
unwanted_cols = ['Emissions Intensity - kgCO₂e/MWh','Exports -  GWh','Imports -  GWh','Price - AUD/MWh','Pumps Market Value - AUD','Exports Market Value - AUD','Imports Market Value - AUD','Coal (Black) Market Value - AUD','Distillate Market Value - AUD','Gas (CCGT) Market Value - AUD','Gas (OCGT) Market Value - AUD','Hydro Market Value - AUD','Solar (Rooftop) Market Value - AUD','Solar (Utility) Market Value - AUD','Wind Market Value - AUD'] 
df = df.drop(axis=1, columns=unwanted_cols)

In [61]:
df['TotalCO2Emissions'] = df['Coal (Black) Emissions Vol - tCO₂e'] + df['Gas (CCGT) Emissions Vol - tCO₂e'] + df['Gas (OCGT) Emissions Vol - tCO₂e'] + df['Distillate Emissions Vol - tCO₂e']

In [64]:
df['CarbonIntensity'] = df['TotalCO2Emissions'] / df['Total Generation']

In [66]:
df

,date,Pumps - GWh,Coal (Black) - GWh,Distillate - GWh,Gas (CCGT) - GWh,Gas (OCGT) - GWh,Hydro - GWh,Wind - GWh,Solar (Utility) - GWh,Solar (Rooftop) - GWh,...,Exports Emissions Vol - tCO₂e,Imports Emissions Vol - tCO₂e,Coal (Black) Emissions Vol - tCO₂e,Distillate Emissions Vol - tCO₂e,Gas (CCGT) Emissions Vol - tCO₂e,Gas (OCGT) Emissions Vol - tCO₂e,Total Generation,PercentRenewables,TotalCO2Emissions,CarbonIntensity
0,2020-10-01,-8.62,2652.18,0.04,56.43,19.16,92.25,229.23,159.60,260.46,...,70999.29,583038.0,2438084.0,29.02,25445.61,13916.10,3460.73,0.214273,2477474.73,715.882120
1,2020-11-01,-21.24,4011.90,-0.02,67.58,14.39,253.55,333.00,274.01,472.04,...,113993.14,632282.0,3698435.0,-11.83,30473.83,10724.30,5405.21,0.246540,3739621.30,691.854951
2,2020-12-01,-38.05,3841.31,0.20,37.22,31.18,301.27,430.64,305.34,435.85,...,39742.79,832359.0,3533825.0,142.02,16999.81,23343.10,5344.96,0.275605,3574309.93,668.725291
3,2021-01-01,-8.73,4134.10,-0.02,63.60,2.21,253.33,406.35,304.57,479.67,...,21218.31,839336.0,3800924.0,-13.00,28564.01,1640.45,5635.08,0.256238,3831115.46,679.868868
4,2021-02-01,-7.15,3770.30,-0.02,0.10,2.68,210.23,380.50,286.54,399.32,...,16188.59,683583.0,3469040.0,-16.10,58.02,2098.59,5042.50,0.253166,3471180.51,688.384831
5,2021-03-01,-19.52,4001.80,-0.02,12.38,21.43,202.21,469.72,278.99,375.75,...,12581.23,809835.0,3689608.0,-17.37,5603.62,15534.75,5342.74,0.248313,3710729.00,694.536698
6,2021-04-01,-29.27,3909.10,-0.03,30.56,17.93,170.27,339.97,276.11,382.29,...,88446.69,710491.0,3605975.0,-18.75,14195.49,13028.90,5096.93,0.229283,3633180.64,712.817449
7,2021-05-01,-22.78,4510.80,0.01,25.99,37.36,323.51,363.85,235.81,285.35,...,96689.65,545142.0,4152974.0,9.94,12053.99,27673.20,5759.90,0.209816,4192711.13,727.913875
8,2021-06-01,-55.31,4909.50,0.38,144.45,72.03,327.66,452.01,144.94,241.62,...,69315.20,572612.0,4513774.0,265.38,65905.91,53647.50,6237.28,0.186977,4633592.79,742.886770
9,2021-07-01,-101.04,4953.20,0.50,102.58,111.35,200.85,568.44,168.94,292.54,...,52005.40,746545.0,4578443.0,354.95,46602.23,81605.40,6297.36,0.195442,4707005.58,747.456963
10,2021-08-01,-19.33,4447.10,-0.04,27.58,31.33,126.57,512.11,261.06,394.62,...,96148.19,674877.0,4103767.0,-30.37,12671.81,22714.50,5781.00,0.223899,4139122.94,715.987362
11,2021-09-01,-30.15,3711.30,-0.06,75.90,17.35,140.27,500.10,326.67,485.92,...,70971.59,567193.0,3423402.0,-45.80,34125.38,12609.09,5227.30,0.277956,3470090.67,663.839969

# Start Processing VIC data

In [87]:
unwanted_cols = ['Emissions Intensity - kgCO₂e/MWh','Exports -  GWh','Imports -  GWh','Price - AUD/MWh','Exports Market Value - AUD','Imports Market Value - AUD','Gas (OCGT) Market Value - AUD','Hydro Market Value - AUD','Solar (Rooftop) Market Value - AUD','Solar (Utility) Market Value - AUD','Wind Market Value - AUD'] 
df_vic = pd.read_csv('./opennem/yearly/2020-2021-opennem-vic.csv')
df_vic = df_vic.drop(axis=1, columns=unwanted_cols)

In [88]:
df_vic['Total Generation'] =  df_vic['Coal (Brown) -  GWh'] + df_vic['Gas (Steam) -  GWh'] + df_vic['Gas (OCGT) -  GWh'] + df_vic['Battery (Discharging) -  GWh'] + df_vic['Hydro -  GWh'] + df_vic['Wind -  GWh'] + df_vic['Solar (Utility) -  GWh'] + df_vic['Solar (Rooftop) -  GWh']

In [89]:
df_vic['Total Generation']

0     2521.70
1     3864.17
2     4211.53
3     4513.12
4     4135.01
5     4368.18
6     3880.08
7     4212.11
8     4262.84
9     4717.00
10    4189.09
11    3819.48
12    1425.57
Name: Total Generation, dtype: float64

In [90]:
df_vic['PercentRenewables'] = (df_vic['Battery (Discharging) -  GWh'] + df_vic['Solar (Rooftop) -  GWh'] + df_vic['Solar (Utility) -  GWh'] + df_vic['Hydro -  GWh'] + df_vic['Wind -  GWh'])/df_vic['Total Generation']

In [91]:
df_vic['TotalCO2Emissions'] = df_vic['Coal (Brown) Emissions Vol - tCO₂e'] + df_vic['Gas (OCGT) Emissions Vol - tCO₂e'] + df_vic['Gas (Steam) Emissions Vol - tCO₂e']

In [92]:
df_vic['CarbonIntensity'] = df_vic['TotalCO2Emissions'] / df_vic['Total Generation']

In [100]:
df_vic[['Total Generation','PercentRenewables','CarbonIntensity','TotalCO2Emissions']]

    Total Generation  PercentRenewables  CarbonIntensity  TotalCO2Emissions
0            2521.70           0.324587       796.317250         2008073.21
1            3864.17           0.301656       818.393298         3162410.83
2            4211.53           0.293848       840.086083         3538047.74
3            4513.12           0.306644       829.143371         3742023.53
4            4135.01           0.285126       856.159838         3540229.49
5            4368.18           0.280673       859.364697         3753859.68
6            3880.08           0.281144       851.856436         3305271.12
7            4212.11           0.282614       844.965079         3559085.86
8            4262.84           0.286872       803.094948         3423465.27
9            4717.00           0.298781       821.429837         3874684.54
10           4189.09           0.324856       786.749184         3295763.14
11           3819.48           0.368621       747.712950         2855874.66
12           1425.57           0.341779       779.815842         1111682.07

In [101]:
df[['Total Generation','PercentRenewables','CarbonIntensity','TotalCO2Emissions']]

    Total Generation  PercentRenewables  CarbonIntensity  TotalCO2Emissions
0            3460.73           0.214273       715.882120         2477474.73
1            5405.21           0.246540       691.854951         3739621.30
2            5344.96           0.275605       668.725291         3574309.93
3            5635.08           0.256238       679.868868         3831115.46
4            5042.50           0.253166       688.384831         3471180.51
5            5342.74           0.248313       694.536698         3710729.00
6            5096.93           0.229283       712.817449         3633180.64
7            5759.90           0.209816       727.913875         4192711.13
8            6237.28           0.186977       742.886770         4633592.79
9            6297.36           0.195442       747.456963         4707005.58
10           5781.00           0.223899       715.987362         4139122.94
11           5227.30           0.277956       663.839969         3470090.67

In [103]:
df.to_csv('nsw_co2intensity.csv')
df_vic.to_csv('vic_co2intensity.csv')

In [104]:
df

,date,Pumps - GWh,Coal (Black) - GWh,Distillate - GWh,Gas (CCGT) - GWh,Gas (OCGT) - GWh,Hydro - GWh,Wind - GWh,Solar (Utility) - GWh,Solar (Rooftop) - GWh,...,Exports Emissions Vol - tCO₂e,Imports Emissions Vol - tCO₂e,Coal (Black) Emissions Vol - tCO₂e,Distillate Emissions Vol - tCO₂e,Gas (CCGT) Emissions Vol - tCO₂e,Gas (OCGT) Emissions Vol - tCO₂e,Total Generation,PercentRenewables,TotalCO2Emissions,CarbonIntensity
0,2020-10-01,-8.62,2652.18,0.04,56.43,19.16,92.25,229.23,159.60,260.46,...,70999.29,583038.0,2438084.0,29.02,25445.61,13916.10,3460.73,0.214273,2477474.73,715.882120
1,2020-11-01,-21.24,4011.90,-0.02,67.58,14.39,253.55,333.00,274.01,472.04,...,113993.14,632282.0,3698435.0,-11.83,30473.83,10724.30,5405.21,0.246540,3739621.30,691.854951
2,2020-12-01,-38.05,3841.31,0.20,37.22,31.18,301.27,430.64,305.34,435.85,...,39742.79,832359.0,3533825.0,142.02,16999.81,23343.10,5344.96,0.275605,3574309.93,668.725291
3,2021-01-01,-8.73,4134.10,-0.02,63.60,2.21,253.33,406.35,304.57,479.67,...,21218.31,839336.0,3800924.0,-13.00,28564.01,1640.45,5635.08,0.256238,3831115.46,679.868868
4,2021-02-01,-7.15,3770.30,-0.02,0.10,2.68,210.23,380.50,286.54,399.32,...,16188.59,683583.0,3469040.0,-16.10,58.02,2098.59,5042.50,0.253166,3471180.51,688.384831
5,2021-03-01,-19.52,4001.80,-0.02,12.38,21.43,202.21,469.72,278.99,375.75,...,12581.23,809835.0,3689608.0,-17.37,5603.62,15534.75,5342.74,0.248313,3710729.00,694.536698
6,2021-04-01,-29.27,3909.10,-0.03,30.56,17.93,170.27,339.97,276.11,382.29,...,88446.69,710491.0,3605975.0,-18.75,14195.49,13028.90,5096.93,0.229283,3633180.64,712.817449
7,2021-05-01,-22.78,4510.80,0.01,25.99,37.36,323.51,363.85,235.81,285.35,...,96689.65,545142.0,4152974.0,9.94,12053.99,27673.20,5759.90,0.209816,4192711.13,727.913875
8,2021-06-01,-55.31,4909.50,0.38,144.45,72.03,327.66,452.01,144.94,241.62,...,69315.20,572612.0,4513774.0,265.38,65905.91,53647.50,6237.28,0.186977,4633592.79,742.886770
9,2021-07-01,-101.04,4953.20,0.50,102.58,111.35,200.85,568.44,168.94,292.54,...,52005.40,746545.0,4578443.0,354.95,46602.23,81605.40,6297.36,0.195442,4707005.58,747.456963
10,2021-08-01,-19.33,4447.10,-0.04,27.58,31.33,126.57,512.11,261.06,394.62,...,96148.19,674877.0,4103767.0,-30.37,12671.81,22714.50,5781.00,0.223899,4139122.94,715.987362
11,2021-09-01,-30.15,3711.30,-0.06,75.90,17.35,140.27,500.10,326.67,485.92,...,70971.59,567193.0,3423402.0,-45.80,34125.38,12609.09,5227.30,0.277956,3470090.67,663.839969