# Import VM SKU data

In [17]:
import pandas as pd

In [18]:
nsw_co2 = pd.read_csv('./emissions/nsw_co2intensity.csv')
vic_co2 = pd.read_csv('./emissions/vic_co2intensity.csv')

In [19]:
vm_skus_tdp = pd.read_csv('./azurevms/azurevmskus_withtdp.csv')
vm_skus_tdp

,Unnamed: 0,skutype,skuname,corecount,ram,cpumaxcores,cputdp,memtdp,gpucount,gputdp,cputotaltdp,gputotaltdp,totaltdp
0,0,generalpurpose,Standard_DC1s_v2,1,4.0,8,95,1.5000,0.000,0,11.875000,0.0,13.375000
1,1,generalpurpose,Standard_DC2s_v2,2,8.0,8,95,3.0000,0.000,0,23.750000,0.0,26.750000
2,2,generalpurpose,Standard_DC4s_v2,4,16.0,8,95,6.0000,0.000,0,47.500000,0.0,53.500000
3,3,generalpurpose,Standard_DC8_v2,8,32.0,8,95,12.0000,0.000,0,95.000000,0.0,107.000000
4,4,generalpurpose,Standard_D1_v2,1,3.5,26,195,1.3125,0.000,0,7.500000,0.0,8.812500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,88,gpuacceleratedcompute,Standard_NC24sr_v3,24,448.0,14,135,168.0000,4.000,250,231.428571,1000.0,1399.428571
89,89,gpuacceleratedcompute,Standard_NV4as_v4,4,14.0,64,240,5.2500,0.125,300,15.000000,37.5,57.750000
90,90,gpuacceleratedcompute,Standard_NV8as_v4,8,28.0,64,240,10.5000,0.250,300,30.000000,75.0,115.500000
91,91,gpuacceleratedcompute,Standard_NV16as_v4,16,56.0,64,240,21.0000,0.500,300,60.000000,150.0,231.000000
92,92,gpuacceleratedcompute,Standard_NV32as_v4,32,112.0,64,240,42.0000,1.000,300,120.000000,300.0,462.000000

# 2021 Hackathon - Carbon Footprint Estimator

In [20]:
# These are the inputs

desired_sku_list = [{'sku':'Standard_D3_v2','count':4}, {'sku':'Standard_F16s_v2', 'count':2}, {'sku':'Standard_NC12','count': 1}]
default_hours_month = 730.5
start_month = 10
average_util_pct = .30
desired_region = 'vic'
microsoft_pue_constant = 1.125

In [21]:
if(desired_region == 'nsw'):
    carbonintensity = nsw_co2[['date','CarbonIntensity']]
else:
    carbonintensity = vic_co2[['date','CarbonIntensity']]

In [22]:
# Filter skus
skus_list = [x['sku'] for x in desired_sku_list]
is_in_desired_skus = vm_skus_tdp['skuname'].isin(skus_list)

vm_desired_skus = vm_skus_tdp[is_in_desired_skus]
vm_desired_skus

,Unnamed: 0,skutype,skuname,corecount,ram,cpumaxcores,cputdp,memtdp,gpucount,gputdp,cputotaltdp,gputotaltdp,totaltdp
6,6,generalpurpose,Standard_D3_v2,4,14.0,26,195,5.25,0.0,0,30.0,0.0,35.25
39,39,computeoptimized,Standard_F16s_v2,16,32.0,26,195,12.00,0.0,0,120.0,0.0,132.00
82,82,gpuacceleratedcompute,Standard_NC12,12,112.0,12,135,42.00,2.0,300,135.0,600.0,777.00

In [23]:
# Append SKU count
vm_desired_skus['skucount'] =  vm_desired_skus['skuname'].map(lambda x: [y['count'] for y in desired_sku_list if y['sku'] == x].pop() )
vm_desired_skus['skucount']

/var/folders/kn/y_6jw4b5619752317143js6m0000gn/T/ipykernel_51784/3974041060.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vm_desired_skus['skucount'] =  vm_desired_skus['skuname'].map(lambda x: [y['count'] for y in desired_sku_list if y['sku'] == x].pop() )

6     4
39    2
82    1
Name: skucount, dtype: int64

In [24]:
vm_desired_skus

,Unnamed: 0,skutype,skuname,corecount,ram,cpumaxcores,cputdp,memtdp,gpucount,gputdp,cputotaltdp,gputotaltdp,totaltdp,skucount
6,6,generalpurpose,Standard_D3_v2,4,14.0,26,195,5.25,0.0,0,30.0,0.0,35.25,4
39,39,computeoptimized,Standard_F16s_v2,16,32.0,26,195,12.00,0.0,0,120.0,0.0,132.00,2
82,82,gpuacceleratedcompute,Standard_NC12,12,112.0,12,135,42.00,2.0,300,135.0,600.0,777.00,1

## Calculate total monthly Kwh using formula here (https://devblogs.microsoft.com/sustainable-software/how-can-i-calculate-co2eq-emissions-for-my-azure-vm/)

In [25]:
vm_desired_skus['totalmonthlykwh'] = vm_desired_skus['totaltdp'] * vm_desired_skus['skucount'] * default_hours_month / 1000 * microsoft_pue_constant * average_util_pct
vm_desired_skus['totalmonthlykwh']

/var/folders/kn/y_6jw4b5619752317143js6m0000gn/T/ipykernel_51784/2027254004.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vm_desired_skus['totalmonthlykwh'] = vm_desired_skus['totaltdp'] * vm_desired_skus['skucount'] * default_hours_month / 1000 * microsoft_pue_constant * average_util_pct

6      34.762669
39     65.087550
82    191.564494
Name: totalmonthlykwh, dtype: float64

In [26]:
carbonintensity['CarbonIntensity']

0     796.317250
1     818.393298
2     840.086083
3     829.143371
4     856.159838
5     859.364697
6     851.856436
7     844.965079
8     803.094948
9     821.429837
10    786.749184
11    747.712950
12    779.815842
Name: CarbonIntensity, dtype: float64

In [27]:
# Generate CO2eq emissions per month
desired_skus_with_monthly_co2 = vm_desired_skus.apply(lambda x: carbonintensity['CarbonIntensity'].map(lambda y: y * x['totalmonthlykwh']), axis=1)

In [28]:
# Convert to KG
desired_skus_with_monthly_co2 = desired_skus_with_monthly_co2.apply(lambda x: x/1000)

In [29]:
desired_skus_with_monthly_co2

desired_skus_with_monthly_co2['TotalYearlyCO2InKg'] = desired_skus_with_monthly_co2.sum(axis=1)
desired_skus_with_monthly_co2['TotalYearlyCO2InKg']

6      369.704070
39     692.211875
82    2037.305404
Name: TotalYearlyCO2InKg, dtype: float64

In [30]:
desired_skus_with_monthly_co2

,0,1,2,3,4,5,6,7,8,9,10,11,12,TotalYearlyCO2InKg
6,27.682113,28.449535,29.203634,28.823236,29.762401,29.873810,29.612803,29.373241,27.917724,28.555093,27.349501,25.992498,27.108480,369.704070
39,51.830339,53.267215,54.679145,53.966911,55.725346,55.933943,55.445248,54.996707,52.271483,53.464856,51.207577,48.666804,50.756303,692.211875
82,152.546111,156.775098,160.930665,158.834430,164.009826,164.623763,163.185447,161.865308,153.844477,157.356791,150.713209,143.235253,149.385027,2037.305404

In [31]:
vm_desired_skus = vm_desired_skus.join(desired_skus_with_monthly_co2)

In [32]:
vm_desired_skus.head(5)

,Unnamed: 0,skutype,skuname,corecount,ram,cpumaxcores,cputdp,memtdp,gpucount,gputdp,...,4,5,6,7,8,9,10,11,12,TotalYearlyCO2InKg
6,6,generalpurpose,Standard_D3_v2,4,14.0,26,195,5.25,0.0,0,...,29.762401,29.873810,29.612803,29.373241,27.917724,28.555093,27.349501,25.992498,27.108480,369.704070
39,39,computeoptimized,Standard_F16s_v2,16,32.0,26,195,12.00,0.0,0,...,55.725346,55.933943,55.445248,54.996707,52.271483,53.464856,51.207577,48.666804,50.756303,692.211875
82,82,gpuacceleratedcompute,Standard_NC12,12,112.0,12,135,42.00,2.0,300,...,164.009826,164.623763,163.185447,161.865308,153.844477,157.356791,150.713209,143.235253,149.385027,2037.305404

# Microsoft Global Hackathon 2022 - Process test results

## Instructions to run:

* Ensure that the /test_results folder have the test results under the correct subfolder. There are two subfolders (AKS, VM), and under these folders are the regions where the test results have been run.
* Run all cells below here
* Retrieve CSV file output from /eval_output

## Define method to retrieve co2eq for 15 minute windows

In [198]:
def get_gco2eqwindow15_for_sku(cpu_util, instance_count = 1,skus_list = ['Standard_D3_v2']):
    fn_is_in_desired_skus = vm_skus_tdp['skuname'].isin(skus_list)
    fn_vm_desired_skus = vm_skus_tdp[fn_is_in_desired_skus]
    fn_vm_desired_skus['totalkwh'] = (fn_vm_desired_skus['totaltdp'] * 0.25 / 1000 * microsoft_pue_constant * cpu_util) * instance_count
    fn_desired_skus_with_monthly_co2 = fn_vm_desired_skus.apply(lambda x: x['totalkwh'] * 715, axis=1) # change '715' to the actual carbon intensity
    return fn_desired_skus_with_monthly_co2

## Process test_results folder

Process all test results in *test_results* folder. Aggregate results into  *output*

In [229]:
import os

output = []
list_subfolders_with_paths = [f for f in os.scandir('./test_results') if f.is_dir() ]
for workload_type in list_subfolders_with_paths:
    print('Processing {}'.format(workload_type.name))
    subfolders = [f for f in os.scandir(workload_type) if f.is_dir() ]
    for region in subfolders:
        print('Processing {}/{}'.format(workload_type.name,region.name))
        files = [f for f in os.scandir(region) if f.is_file() ]
        for result in files:
            print('Processing {}'.format(result.path))
            if(workload_type.name == 'aks'):
                df = pd.read_csv(result.path)
                df.rename(columns={'AggregatedValue': 'AverageCpuUtil'}, inplace=True)
                df = df[['TimeGenerated [UTC]','AverageCpuUtil']]
                df['gCO2Eq'] = df.apply(lambda x: get_gco2eqwindow15_for_sku(x['AverageCpuUtil']/100, 1,['Standard_D3_v2']), axis=1)
                total_gco2eq = df.head(7)['gCO2Eq'].sum()
                print('Total gCO2eq for {} is {}'.format(result.name, total_gco2eq))
                output.append([workload_type.name, region.name, result.name, total_gco2eq])
            elif(workload_type.name == 'vm'):
                df = pd.read_csv(result.path)
                df.rename(columns={'avg_CounterValue': 'AverageCpuUtil'}, inplace=True)
                df = df[df["InstanceName"] == "total"]
                print(df)
                df = df[['TimeGenerated [UTC]','AverageCpuUtil']]
                df['gCO2Eq'] = df.apply(lambda x: get_gco2eqwindow15_for_sku(x['AverageCpuUtil']/100, 1,['Standard_D3_v2']), axis=1)
                total_gco2eq = df.head(7)['gCO2Eq'].sum()
                print('Total gCO2eq for {} is {}'.format(result.name, total_gco2eq))
                output.append([workload_type.name, region.name, result.name, total_gco2eq])

Processing aks
Processing aks/us_east
Processing aks/us_west
Processing aks/asia_east
Processing ./test_results/aks/asia_east/20220920_AKS_Standard_D3_v2_1Node_EastAsia_neharai.csv
Total gCO2eq for 20220920_AKS_Standard_D3_v2_1Node_EastAsia_neharai.csv is 1.9651323061064583
Processing ./test_results/aks/asia_east/20220920_AKS_Standard_D3_v2_3Node_EastAsia_neharai.csv
Total gCO2eq for 20220920_AKS_Standard_D3_v2_3Node_EastAsia_neharai.csv is 1.9413802851852726
Processing ./test_results/aks/asia_east/20220920_AKS_Standard_D3_v2_2Node_EastAsia_neharai.csv
Total gCO2eq for 20220920_AKS_Standard_D3_v2_2Node_EastAsia_neharai.csv is 2.0414129236235246
Processing aks/au_central
Processing aks/eu_west
Processing ./test_results/aks/eu_west/19 sep-AKS-VM_DS2V2_3nodes-WestEurope-ZanaPekmez2.csv
Total gCO2eq for 19 sep-AKS-VM_DS2V2_3nodes-WestEurope-ZanaPekmez2.csv is 2.809271279206433
Processing ./test_results/aks/eu_west/21 sep-2022-AKS-D2V2_2nodes_westeurope_zanapekmez.csv
Total gCO2eq for 21 sep-2022-AKS-D2V2_2nodes_westeurope_zanapekmez.csv is 3.7939437853463627
Processing ./test_results/aks/eu_west/Sept 20-AKS-F2S_V2-WestEurope-ZoeYang.csv
Total gCO2eq for Sept 20-AKS-F2S_V2-WestEurope-ZoeYang.csv is 0.9961354510966333
Processing aks/asia_southeast
Processing aks/au_east
Processing ./test_results/aks/au_east/19.09.22-AKS-VM_D2_v2-2node-AustraliaEast-ValeriaHesse.csv
Total gCO2eq for 19.09.22-AKS-VM_D2_v2-2node-AustraliaEast-ValeriaHesse.csv is 3.225909488509229
Processing ./test_results/aks/au_east/19.20.22-AKS-VM_D3_v2-1node-AustraliaEast-ValeriaHesse.csv
Total gCO2eq for 19.20.22-AKS-VM_D3_v2-1node-AustraliaEast-ValeriaHesse.csv is 3.225909488509229
Processing ./test_results/aks/au_east/19.20.22-AKS-VM_D3_v2-2node-AustraliaEast-ValeriaHesse.csv
Total gCO2eq for 19.20.22-AKS-VM_D3_v2-2node-AustraliaEast-ValeriaHesse.csv is 3.2399147159724624
Processing ./test_results/aks/au_east/19.09.22-AKS-VM_D2_v2-1node-AustraliaEast-ValeriaHesse.csv
Total gCO2eq for 19.09.22-AKS-VM_D2_v2-1node-AustraliaEast-ValeriaHesse.csv is 3.225909488509229
Processing aks/eu_north
Processing ./test_results/aks/eu_north/21-sep-2022-AKS-D3V2-1nodes-northeurope-flkelly-query_data.csv
Total gCO2eq for 21-sep-2022-AKS-D3V2-1nodes-northeurope-flkelly-query_data.csv is 2.5321752652061393
Processing ./test_results/aks/eu_north/20-sep-2022-AKS-D3V2-2nodes-northeurope-flkelly-query_data.csv
Total gCO2eq for 20-sep-2022-AKS-D3V2-2nodes-northeurope-flkelly-query_data.csv is 2.9207952832085806
Processing ./test_results/aks/eu_north/20-sep-2022-AKS-D3V2-3nodes-northeurope-flkelly-query_data.csv
Total gCO2eq for 20-sep-2022-AKS-D3V2-3nodes-northeurope-flkelly-query_data.csv is 2.776249625923376
Processing ./test_results/aks/eu_north/20-sep-2022-AKS-F2s_v2-3nodes-northeurope-flkelly-query_data.csv
Total gCO2eq for 20-sep-2022-AKS-F2s_v2-3nodes-northeurope-flkelly-query_data.csv is 3.0545948840756094
Processing vm
Processing vm/us_east
Processing vm/us_west
Processing vm/asia_east
Processing vm/au_central
Processing vm/eu_west
Processing ./test_results/vm/eu_west/21 sep-2022-VM-DS2V2_2nodes_westeurope_zanauÌˆekmez.csv
            TimeGenerated [UTC]        Computer  \
0     9/21/2022, 9:45:00.000 AM  lvm-hack22-aad
4    9/21/2022, 10:00:00.000 AM  lvm-hack22-aad
7    9/21/2022, 10:15:00.000 AM  lvm-hack22-aad
9    9/21/2022, 10:30:00.000 AM  lvm-hack22-aad
12   9/21/2022, 10:45:00.000 AM  lvm-hack22-aad
17   9/21/2022, 11:00:00.000 AM  lvm-hack22-aad
20   9/21/2022, 11:15:00.000 AM  lvm-hack22-aad
23   9/21/2022, 11:30:00.000 AM  lvm-hack22-aad
26   9/21/2022, 11:45:00.000 AM  lvm-hack22-aad
27   9/21/2022, 12:00:00.000 PM  lvm-hack22-aad
31   9/21/2022, 12:15:00.000 PM  lvm-hack22-aad
34   9/21/2022, 12:30:00.000 PM  lvm-hack22-aad
38   9/21/2022, 12:45:00.000 PM  lvm-hack22-aad
40    9/21/2022, 1:00:00.000 PM  lvm-hack22-aad
42    9/21/2022, 1:15:00.000 PM  lvm-hack22-aad
45    9/21/2022, 1:30:00.000 PM  lvm-hack22-aad
50    9/21/2022, 1:45:00.000 PM  lvm-hack22-aad
51    9/21/2022, 2:00:00.000 PM  lvm-hack22-aad
54    9/21/2022, 2:15:00.000 PM  lvm-hack22-aad
58    9/21/2022, 2:30:00.000 PM  lvm-hack22-aad
61    9/21/2022, 2:45:00.000 PM  lvm-hack22-aad
64    9/21/2022, 3:00:00.000 PM  lvm-hack22-aad
67    9/21/2022, 3:15:00.000 PM  lvm-hack22-aad
70    9/21/2022, 3:30:00.000 PM  lvm-hack22-aad
74    9/21/2022, 3:45:00.000 PM  lvm-hack22-aad
77    9/21/2022, 4:00:00.000 PM  lvm-hack22-aad
79    9/21/2022, 4:15:00.000 PM  lvm-hack22-aad
82    9/21/2022, 4:30:00.000 PM  lvm-hack22-aad
86    9/21/2022, 4:45:00.000 PM  lvm-hack22-aad
89    9/21/2022, 5:00:00.000 PM  lvm-hack22-aad
90    9/21/2022, 5:15:00.000 PM  lvm-hack22-aad
94    9/21/2022, 5:30:00.000 PM  lvm-hack22-aad
96    9/21/2022, 5:45:00.000 PM  lvm-hack22-aad
100   9/21/2022, 6:00:00.000 PM  lvm-hack22-aad
102   9/21/2022, 6:15:00.000 PM  lvm-hack22-aad
106   9/21/2022, 6:30:00.000 PM  lvm-hack22-aad
108   9/21/2022, 6:45:00.000 PM  lvm-hack22-aad
112   9/21/2022, 7:00:00.000 PM  lvm-hack22-aad
114   9/21/2022, 7:15:00.000 PM  lvm-hack22-aad

                                           _ResourceId InstanceName  \
0    /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
4    /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
7    /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
9    /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
12   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
17   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
20   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
23   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
26   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
27   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
31   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
34   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
38   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
40   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
42   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
45   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
50   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
51   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
54   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
58   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
61   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
64   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
67   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
70   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
74   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
77   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
79   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
82   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
86   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
89   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
90   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
94   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
96   /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
100  /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
102  /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
106  /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
108  /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
112  /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total
114  /subscriptions/4a05645c-76ae-463d-8758-28c37e7...        total

     AverageCpuUtil
0          1.002664
4          0.996828
7          0.993064
9          1.067873
12         1.157453
17        10.361064
20         1.722252
23         1.044220
26         0.935654
27         0.974005
31         0.939585
34         0.994443
38         0.922923
40         0.994138
42         0.933397
45         1.050890
50         0.939539
51         1.301862
54         0.961247
58         1.062086
61         0.977922
64         1.536176
67         0.978126
70         1.339264
74         0.980436
77         1.069475
79         0.978554
82         1.070291
86         1.005002
89         1.055053
90         1.033519
94         1.096577
96         0.986259
100        1.057440
102        1.019637
106        1.081553
108        0.989970
112        1.002674
114        0.986028
Total gCO2eq for 21 sep-2022-VM-DS2V2_2nodes_westeurope_zanauÌˆekmez.csv is 1.226404910225048
Processing ./test_results/vm/eu_west/21.09.22-VM-VM_D2_v2-WestEurope-ZoeYang.csv
          TimeGenerated [UTC]        Computer  \
0   9/21/2022, 5:15:00.000 PM  lvm-hack22-aad
5   9/21/2022, 5:30:00.000 PM  lvm-hack22-aad
7   9/21/2022, 5:45:00.000 PM  lvm-hack22-aad
11  9/21/2022, 6:00:00.000 PM  lvm-hack22-aad
14  9/21/2022, 6:15:00.000 PM  lvm-hack22-aad
17  9/21/2022, 6:30:00.000 PM  lvm-hack22-aad
20  9/21/2022, 6:45:00.000 PM  lvm-hack22-aad
21  9/21/2022, 7:00:00.000 PM  lvm-hack22-aad
24  9/21/2022, 7:15:00.000 PM  lvm-hack22-aad
29  9/21/2022, 7:30:00.000 PM  lvm-hack22-aad
31  9/21/2022, 7:45:00.000 PM  lvm-hack22-aad
34  9/21/2022, 8:00:00.000 PM  lvm-hack22-aad
37  9/21/2022, 8:15:00.000 PM  lvm-hack22-aad
41  9/21/2022, 8:30:00.000 PM  lvm-hack22-aad

                                          _ResourceId InstanceName  \
0   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
5   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
7   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
11  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
14  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
17  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
20  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
21  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
24  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
29  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
31  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
34  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
37  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
41  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total

    AverageCpuUtil
0        19.505084
5         9.565990
7         0.917795
11        1.105218
14        1.161064
17        1.187761
20        1.154794
21        1.021134
24        0.977225
29        0.972654
31        0.968123
34        0.980866
37        1.047080
41        0.978808
Total gCO2eq for 21.09.22-VM-VM_D2_v2-WestEurope-ZoeYang.csv is 2.452477399898481
Processing ./test_results/vm/eu_west/Sept 20-VM-DS2V2-WestEurope-ZoeYang.csv
           TimeGenerated [UTC]        Computer  \
2   9/20/2022, 10:00:00.000 PM  lvm-hack22-aad
5   9/20/2022, 10:15:00.000 PM  lvm-hack22-aad
7   9/20/2022, 10:30:00.000 PM  lvm-hack22-aad
10  9/20/2022, 10:45:00.000 PM  lvm-hack22-aad
13  9/20/2022, 11:00:00.000 PM  lvm-hack22-aad
16  9/20/2022, 11:15:00.000 PM  lvm-hack22-aad
18  9/20/2022, 11:30:00.000 PM  lvm-hack22-aad
23  9/20/2022, 11:45:00.000 PM  lvm-hack22-aad
25  9/21/2022, 12:00:00.000 AM  lvm-hack22-aad
28  9/21/2022, 12:15:00.000 AM  lvm-hack22-aad
32  9/21/2022, 12:30:00.000 AM  lvm-hack22-aad
33  9/21/2022, 12:45:00.000 AM  lvm-hack22-aad

                                          _ResourceId InstanceName  \
2   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
5   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
7   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
10  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
13  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
16  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
18  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
23  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
25  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
28  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
32  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
33  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total

    AverageCpuUtil
2         0.716608
5        11.456636
7         0.934017
10        0.952422
13        0.884440
16        0.924466
18        0.910025
23        0.978039
25        0.944035
28        1.002225
32        0.959825
33        0.974336
Total gCO2eq for Sept 20-VM-DS2V2-WestEurope-ZoeYang.csv is 1.1893611402731497
Processing ./test_results/vm/eu_west/Sept 20-VM-F2S_V2-WestEurope-ZoeYang.csv
          TimeGenerated [UTC]        Computer  \
0   9/21/2022, 4:00:00.000 AM  lvm-hack22-aad
4   9/21/2022, 4:15:00.000 AM  lvm-hack22-aad
7   9/21/2022, 4:30:00.000 AM  lvm-hack22-aad
10  9/21/2022, 4:45:00.000 AM  lvm-hack22-aad
13  9/21/2022, 5:00:00.000 AM  lvm-hack22-aad
15  9/21/2022, 5:15:00.000 AM  lvm-hack22-aad
19  9/21/2022, 5:30:00.000 AM  lvm-hack22-aad
22  9/21/2022, 5:45:00.000 AM  lvm-hack22-aad
26  9/21/2022, 6:00:00.000 AM  lvm-hack22-aad
27  9/21/2022, 6:15:00.000 AM  lvm-hack22-aad
31  9/21/2022, 6:30:00.000 AM  lvm-hack22-aad

                                          _ResourceId InstanceName  \
0   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
4   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
7   /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
10  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
13  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
15  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
19  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
22  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
26  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
27  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total
31  /subscriptions/52c981f9-6621-4f11-a6b0-938df3e...        total

    AverageCpuUtil
0        16.110667
4         0.930403
7         0.838929
10        0.839849
13        0.820887
15        0.856699
19        0.890177
22        0.845718
26        0.940573
27        2.514137
31        0.943973
Total gCO2eq for Sept 20-VM-F2S_V2-WestEurope-ZoeYang.csv is 1.5089839723266436
Processing vm/asia_southeast
Processing vm/au_east
Processing vm/eu_north
Processing ./test_results/vm/eu_north/21-sep-2022-VM-D3V2-northeurope-flkelly-query_data-run2.csv
           TimeGenerated [UTC]        Computer  \
4   21/09/2022, 6:15:00.000 am  lvm-hack22-aad
9   21/09/2022, 6:30:00.000 am  lvm-hack22-aad
11  21/09/2022, 6:45:00.000 am  lvm-hack22-aad
17  21/09/2022, 7:00:00.000 am  lvm-hack22-aad
23  21/09/2022, 7:15:00.000 am  lvm-hack22-aad
28  21/09/2022, 7:30:00.000 am  lvm-hack22-aad
33  21/09/2022, 7:45:00.000 am  lvm-hack22-aad
36  21/09/2022, 8:00:00.000 am  lvm-hack22-aad
43  21/09/2022, 8:15:00.000 am  lvm-hack22-aad

                                          _ResourceId InstanceName  \
4   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
9   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
11  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
17  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
23  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
28  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
33  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
36  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
43  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total

    AverageCpuUtil
4         1.133333
9         0.655507
11        1.964306
17        3.627758
23        0.714908
28        0.676790
33        0.664529
36        0.665094
43        0.825336
Total gCO2eq for 21-sep-2022-VM-D3V2-northeurope-flkelly-query_data-run2.csv is 0.6689561994372305
Processing ./test_results/vm/eu_north/20-sep-2022-VM-F2s_v2-vm-northeurope-flkelly-query_data.csv
             TimeGenerated [UTC]        Computer  \
0     21/09/2022, 4:45:00.000 am  lvm-hack22-aad
8     21/09/2022, 5:00:00.000 am  lvm-hack22-aad
10    21/09/2022, 5:15:00.000 am  lvm-hack22-aad
16    21/09/2022, 5:30:00.000 am  lvm-hack22-aad
20    21/09/2022, 5:45:00.000 am  lvm-hack22-aad
25    21/09/2022, 6:00:00.000 am  lvm-hack22-aad
30    21/09/2022, 6:15:00.000 am  lvm-hack22-aad
39    21/09/2022, 6:30:00.000 am  lvm-hack22-aad
43    21/09/2022, 6:45:00.000 am  lvm-hack22-aad
47    21/09/2022, 7:00:00.000 am  lvm-hack22-aad
50    21/09/2022, 7:15:00.000 am  lvm-hack22-aad
56    21/09/2022, 7:30:00.000 am  lvm-hack22-aad
60    21/09/2022, 7:45:00.000 am  lvm-hack22-aad
68    21/09/2022, 8:00:00.000 am  lvm-hack22-aad
72    21/09/2022, 8:15:00.000 am  lvm-hack22-aad
75    21/09/2022, 8:30:00.000 am  lvm-hack22-aad
79    21/09/2022, 8:45:00.000 am  lvm-hack22-aad
83    21/09/2022, 9:00:00.000 am  lvm-hack22-aad
86    21/09/2022, 9:15:00.000 am  lvm-hack22-aad
87    21/09/2022, 9:30:00.000 am  lvm-hack22-aad
91    21/09/2022, 9:45:00.000 am  lvm-hack22-aad
93   21/09/2022, 10:00:00.000 am  lvm-hack22-aad
96   21/09/2022, 10:15:00.000 am  lvm-hack22-aad
101  21/09/2022, 10:30:00.000 am  lvm-hack22-aad
103  21/09/2022, 10:45:00.000 am  lvm-hack22-aad
105  21/09/2022, 11:00:00.000 am  lvm-hack22-aad
109  21/09/2022, 11:15:00.000 am  lvm-hack22-aad
112  21/09/2022, 11:30:00.000 am  lvm-hack22-aad
114  21/09/2022, 11:45:00.000 am  lvm-hack22-aad
118  21/09/2022, 12:00:00.000 pm  lvm-hack22-aad
121  21/09/2022, 12:15:00.000 pm  lvm-hack22-aad
124  21/09/2022, 12:30:00.000 pm  lvm-hack22-aad

                                           _ResourceId InstanceName  \
0    /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
8    /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
10   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
16   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
20   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
25   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
30   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
39   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
43   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
47   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
50   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
56   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
60   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
68   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
72   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
75   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
79   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
83   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
86   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
87   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
91   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
93   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
96   /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
101  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
103  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
105  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
109  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
112  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
114  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
118  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total
121  /subscriptions/949ef534-07f5-4138-8b79-aae16a7...        total

In [230]:
output_df = pd.DataFrame(output, columns=['WorkloadType','Region','WorkloadName','TotalgCO2eq'])

In [231]:
output_df

,WorkloadType,Region,WorkloadName,TotalgCO2eq
0,aks,asia_east,20220920_AKS_Standard_D3_v2_1Node_EastAsia_neh...,1.965132
1,aks,asia_east,20220920_AKS_Standard_D3_v2_3Node_EastAsia_neh...,1.941380
2,aks,asia_east,20220920_AKS_Standard_D3_v2_2Node_EastAsia_neh...,2.041413
3,aks,eu_west,19 sep-AKS-VM_DS2V2_3nodes-WestEurope-ZanaPekm...,2.809271
4,aks,eu_west,21 sep-2022-AKS-D2V2_2nodes_westeurope_zanapek...,3.793944
5,aks,eu_west,Sept 20-AKS-F2S_V2-WestEurope-ZoeYang.csv,0.996135
6,aks,au_east,19.09.22-AKS-VM_D2_v2-2node-AustraliaEast-Vale...,3.225909
7,aks,au_east,19.20.22-AKS-VM_D3_v2-1node-AustraliaEast-Vale...,3.225909
8,aks,au_east,19.20.22-AKS-VM_D3_v2-2node-AustraliaEast-Vale...,3.239915
9,aks,au_east,19.09.22-AKS-VM_D2_v2-1node-AustraliaEast-Vale...,3.225909
10,aks,eu_north,21-sep-2022-AKS-D3V2-1nodes-northeurope-flkell...,2.532175
11,aks,eu_north,20-sep-2022-AKS-D3V2-2nodes-northeurope-flkell...,2.920795
12,aks,eu_north,20-sep-2022-AKS-D3V2-3nodes-northeurope-flkell...,2.776250
13,aks,eu_north,20-sep-2022-AKS-F2s_v2-3nodes-northeurope-flke...,3.054595
14,vm,eu_west,21 sep-2022-VM-DS2V2_2nodes_westeurope_zanauÌˆe...,1.226405
15,vm,eu_west,21.09.22-VM-VM_D2_v2-WestEurope-ZoeYang.csv,2.452477
16,vm,eu_west,Sept 20-VM-DS2V2-WestEurope-ZoeYang.csv,1.189361
17,vm,eu_west,Sept 20-VM-F2S_V2-WestEurope-ZoeYang.csv,1.508984
18,vm,eu_north,21-sep-2022-VM-D3V2-northeurope-flkelly-query_...,0.668956
19,vm,eu_north,20-sep-2022-VM-F2s_v2-vm-northeurope-flkelly-q...,0.811666

In [232]:
output_df.to_csv('./eval_output/results.csv')